CPU_TempFlowNodeRed.txt
[{"id":"b9728c40.82e118","type":"exec","z":"d249ffb.65a5f8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","name":"","x":266,"y":176,"wires":[["1c55ad73.f663f3"],[],[]]},{"id":"1c55ad73.f663f3","type":"function","z":"d249ffb.65a5f8","name":"","func":"var temp=msg.payload;\nvar numTemp = temp.substring(temp.indexOf('=')+1,temp.indexOf('C')-1);\nvar num = parseFloat(numTemp);\n\nmsg.payload = {'d':{'temp' : num}};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":119.5,"wires":[["a3938c69.75e72"]]},{"id":"ebc95fd.8122da","type":"inject","z":"d249ffb.65a5f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"x":60,"y":207.5,"wires":[["b9728c40.82e118"]]},{"id":"a3938c69.75e72","type":"wiotp out","z":"d249ffb.65a5f8","authType":"d","qs":"true","qsDeviceId":"a3938c69.75e72","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":644,"y":117,"wires":[]}]